body {
    margin: 0 auto;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

/* 
=======================================
=========== header section ============
=======================================
*/

.primary-header {
    height: 40px;
    font-size: 12px;
    color: #fff;
    background-color: #000;
    border-bottom: 1px solid #ccc;
}

.dropdown {
    padding:0 0 1px 30px;
    width: 10px;
}

/* 
--------------------- logo -----------------------
*/

.logo {
    float: left;
    margin: 0 auto;
}

.homepage-link img {
    height: 24px;
    padding: 8px 16px 8px 0;
}

/*
------------------- sign in ----------------------
*/

.sign-in {
    float: left;
    padding: 13px 30px 12px 15px;
    border-left: 1px solid #ccc;
}

.sign-in-link {
    text-decoration: none;
    color: #fff;
    float: left;
}

.sign-in-link img {
    height: 14px;
    float: left;
}

.sign-in-link span {
    padding:0 40px 0 8px;
}

/*
------------------ navigation --------------------
*/

.nav-list {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    height: 40px;
    overflow: hidden;
}

.nav-list a {
    color: #fff;
    text-decoration: none;
}

.nav-list li {
    float: left;
    padding: 13px 26px;
    border-left: 1px solid #ccc;
}

/*
------------------ search --------------------
*/

.nav-list .search-li {
    float: left;
    padding: 9px 0 13px 26px;
    border-left: 1px solid #ccc;
}

.search-bar {
    width: 159px;
}

/* 
=======================================
=========== welcome section ===========
=======================================
*/

.article-container {
    padding-top: 12px;
}

.article-main {
    grid-row: 1 / span 2;
}

.welcome-header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
}

.welcome-title {
    width: fit-content;
    font-size: 22px;
    color: #4a4a4a;
}

.todays-date {
    display: inline-block;
    align-self: center;
    font-size: 22px;
    color: #8c8c8c;
    font-weight: 300;
    text-align: right;
}

.article-div {
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
}

.article-div > img {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.media-content-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(to bottom, transparent 0%, #231F20 100%);
}

.media-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    z-index: 3;
    margin: 0;
    padding: 0 0 3% 3%;
}

.media-content h2,
.media-content p,
.media-content span {
    margin: 6px 0;
}

.media-content p {
    font-weight: 300;
    line-height: 1.2;
}

.media-content span {
    font-weight: 100;
}

.media-content span {
    padding-left: 6px;
    border-left: 2px solid red;
}

.article-images {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
}



/* 
=======================================
============ news section =============
=======================================
*/

.news-container {
    padding-top: 24px;
    max-width: 1248px;
}

.news-title {
    font-size: 22px;
    color: #4a4a4a;
    border-left: 4px solid red;
    padding-left: 6px;
}

.news-wrapper a  div img {
    width: 401px;
}

/* 
=======================================
=========== footer section ============
=======================================
*/

.primary-footer {
    background-color: #4c4c4c;
    color: #fff;

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
}


/* 
--------------------------------------------------
---------- applied to multiple sections ----------
--------------------------------------------------
*/

.primary-header-container,
.article-container,
.news-container {
    max-width: 1248px;
    margin: 0 auto;
    padding: 0 16px;
}

/* 
--------------------------------------------------
--------------------- grid -----------------------
--------------------------------------------------
*/

.col-1-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 180px);
    grid-gap: 6px;
}

.col-1-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 22px;
}

/* 
--------------------------------------------------
--------------- link hover props -----------------
-------------------------------------------------- 
*/

.home-li:hover,
.news-li:hover,
.sport-li:hover,
.reel-li:hover,
.worklife-li:hover,
.travel-li:hover,
.future-li:hover,
.culture-li:hover,
.more-li:hover,
.sign-in:hover {
    padding-bottom: 9px;
    border-bottom: 3px solid white;
}

.sign-in:hover {
    border-bottom-color: rgb(1, 112, 172);
}
.home-li:hover {
    border-bottom-color: black;
}
.news-li:hover {
    border-bottom-color: red;
}
.sport-li:hover {
    border-bottom-color: yellow;
}
.reel-li:hover {
    border-bottom-color: dodgerblue;
}
.worklife-li:hover {
    border-bottom-color: blue;
}
.travel-li:hover {
    border-bottom-color: green;
}
.future-li:hover {
    border-bottom-color: darkblue;
}
.culture-li:hover {
    border-bottom-color: purple;
}
.more-li:hover {
    border-bottom-color: #fff;
}